.mobileNav {
    display: none;
}

/******goodsTop******/
.goods .goodsTop {
    padding: 40px 0 70px;
}

.goods .goodsTop .goodsImg {
    width: 420px;
    height: 420px;
    border-radius: 2px;
    background: #fdfdfd;
    border: 1px solid #e5e5e5;
}

.goods .goodsTop .goodsImg img {
    width: 418px;
    height: 418px;
}

.goods .goodsTop .goodsInfo {
    width: 520px;
}

.goods .goodsTop .goodsInfo .goodsTitle {
    color: #111;
    font-size: 18px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.goods .goodsTop .goodsInfo .tit {
    line-height: 54px;
    border-bottom: 1px solid #666;
    color: #111;
}

.goods .goodsTop .goodsInfo .unit-price {
    line-height: 55px;
}

.goods .goodsTop .goodsInfo .unit-price .priceNum {
    font-size: 26px;
    color: #e4393c;
    padding-left: 20px;
}

.goods .goodsTop .goodsInfo .chooseMoney .choose {
    padding: 20px 0;
}

.goods .goodsTop .goodsInfo .chooseMoney .choose .moneys {
    display: inline-block;
    width: 130px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-right: 0;
    color: #111;
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 37px;
    line-height: 37px;
    position: relative;
    vertical-align: middle;
}

.goods .goodsTop .goodsInfo .chooseMoney .choose .moneys.last {
    border-right: 1px solid #e5e5e5;
}

.goods .goodsTop .goodsInfo .chooseMoney .choose .moneys:hover,.goods .goodsTop .goodsInfo .chooseMoney .choose .moneys:active, .goods .goodsTop .goodsInfo .chooseMoney .choose .moneys.active {
    color: #f53636;
    border: 1px solid #f53636;
    border-radius: 5px;
}

.goods .goodsTop .goodsInfo .chooseMoney .choose .moneys.active:after {
    content: '';
    position: absolute;
    background: url(../img/v2/icon-select.png) no-repeat top center;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
}

.goods .goodsTop .goodsInfo .otherMoney .other {
    padding: 20px 0;
    margin-bottom: 40px;
    height: 85px;
    line-height: 41px;
}

.goods .goodsTop .goodsInfo .chooseMoney .input {
    width: 405px;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
    border-radius: 2px;
}

.goods .goodsTop .goodsInfo .chooseMoney .inputLabel {
    display: inline-block;
    line-height: 42px;
    height: 42px;
}

.goods .goodsTop .goodsInfo .chooseMoney .inputMoneyTip {
    display: inline-block;
    color: #f53636;
    line-height: 25px;
    height: 25px;
    float: none;
}

.goods .goodsTop .goodsInfo .buyNowBtn {
    width: 190px;
    height: 53px;
    line-height: 53px;
    margin-top: 20px;
    background: #f53636;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.goods .goodsTop .goodsInfo .buyNowBtn:hover {
    background: hsla(0, 91%, 59%, 0.8);
}

/******goodsDetail******/
.goods .goodsDetail .tit {
    color: #111;
    margin-bottom: 20px;
    background: #fbfaf8;
}

.goods .goodsDetail .detail img {
    width: 100%;
}

/******masking******/
.mask {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.close {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 20px;
    line-height: 0;
    cursor: pointer;
}

/******register******/
.register {
    display: none;
    position: fixed;
    z-index: 2;
    height: 540px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    background: #fff;
    padding: 40px 40px 60px;
}

.register .tit {
    font-size: 24px;
    color: #000;
    height: 80px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
}

.register input {
    text-indent: 20px;
    border-radius: 2px;
}

.register .input {
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    width: 100%;
    line-height: 40px;
    height: 40px;
    border-radius: 2px;
}

.register .verify input {
    border: 0;
    width: 250px;
    line-height: 40px;
    height: 40px;
}

.register .verify .getCode {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 122px;
    border-left: 1px solid #e5e5e5;
}

.register .tips {
    margin-top: -20px;
    color: #e4393c;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
}

.register .nowRegister {
    width: 100%;
    line-height: 40px;
    margin-top: 40px;
    background: #346fad;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

/******registerSuccess******/
.registerSuccess {
    display: none;
    position: fixed;
    z-index: 2;
    height: 540px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    background: #fff;
    padding: 40px 40px 60px;
}

.registerSuccess .successImg {
    display: block;
    margin: 140px auto 40px;
}

.registerSuccess .success {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 100px;
    text-align: center;
}

.registerSuccess .toPwdLogin {
    width: 100%;
    line-height: 40px;
    margin-top: 30px;
    background: #346fad;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

/******pwdLogin******/
.pwdLogin {
    display: none;
    position: fixed;
    z-index: 2;
    height: 410px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    background: #fff;
    padding: 40px 40px 60px;
}

.pwdLogin .tit {
    font-size: 24px;
    color: #000;
    height: 90px;
    line-height: 84px;
    text-align: center;
    font-weight: bold;
}

.pwdLogin .toCodeLogin {
    position: absolute;
    color: #346fad;
    top: 30px;
    left: 20px;
    line-height: 10px;
    cursor: pointer;
}

.pwdLogin input {
    text-indent: 20px;
    border-radius: 2px;
}

.pwdLogin .input {
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    width: 100%;
    line-height: 40px;
    height: 40px;
    border-radius: 2px;
}

.pwdLogin .tips {
    margin-top: -20px;
    color: #e4393c;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
}

.pwdLogin .pwdLoginBtn {
    width: 100%;
    line-height: 40px;
    margin-top: 30px;
    background: #346fad;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.pwdLogin .forgetOrRegister .forget, .pwdLogin .forgetOrRegister .regist {
    cursor: pointer;
    margin-left: 30px;
    color: #6d6d6d;
}

/******codeLogin******/
.codeLogin {
    display: none;
    position: fixed;
    z-index: 2;
    height: 410px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    background: #fff;
    padding: 40px 40px 60px;
}

.codeLogin .tit {
    font-size: 24px;
    color: #000;
    height: 90px;
    line-height: 84px;
    text-align: center;
    font-weight: bold;
}

.codeLogin .toPwdLogin {
    position: absolute;
    color: #346fad;
    top: 30px;
    left: 20px;
    line-height: 10px;
    cursor: pointer;
}

.codeLogin input {
    text-indent: 20px;
    border-radius: 2px;
}

.codeLogin .input {
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    width: 100%;
    line-height: 40px;
    height: 40px;
    border-radius: 2px;
}

.codeLogin .verify input {
    border: 0;
    width: 250px;
    line-height: 40px;
    height: 40px;
}

.codeLogin .verify .getCode {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 122px;
    border-left: 1px solid #e5e5e5;
}

.codeLogin .tips {
    margin-top: -20px;
    color: #e4393c;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
}

.codeLogin .codeLoginBtn {
    width: 100%;
    line-height: 40px;
    margin-top: 50px;
    background: #346fad;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.codeLogin .forgetOrRegister .forget, .codeLogin .forgetOrRegister .regist {
    cursor: pointer;
    margin-left: 30px;
    color: #6d6d6d;
}

/******getBackPwd******/
.getBackPwd {
    display: none;
    position: fixed;
    z-index: 2;
    height: 430px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    background: #fff;
    padding: 40px 40px 60px;
}

.getBackPwd .tit {
    font-size: 24px;
    color: #000;
    height: 80px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
}

.getBackPwd input {
    text-indent: 20px;
    border-radius: 2px;
}

.getBackPwd .input {
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    width: 100%;
    line-height: 40px;
    height: 40px;
    border-radius: 2px;
}

.getBackPwd .tips {
    margin-top: -20px;
    color: #e4393c;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
}

.getBackPwd .verify input {
    border: 0;
    width: 250px;
    line-height: 40px;
    height: 40px;
}

.getBackPwd .verify .getCode {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 122px;
    border-left: 1px solid #e5e5e5;
}

.getBackPwd .getBackSure {
    width: 100%;
    line-height: 40px;
    margin-top: 30px;
    background: #346fad;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

/******getBackPwdSuccess******/
.getBackPwdSuccess {
    display: none;
    position: fixed;
    z-index: 2;
    height: 540px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    background: #fff;
    padding: 40px 40px 60px;
}

.getBackPwdSuccess .successImg {
    display: block;
    margin: 140px auto 40px;
}

.getBackPwdSuccess .success {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 100px;
    text-align: center;
}

.getBackPwdSuccess .toPwdLogin {
    width: 100%;
    line-height: 40px;
    margin-top: 30px;
    background: #346fad;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

/******WAP******/
@media only screen and (max-width: 768px) {
    body {
        padding-bottom: .5rem;
    }

    /*******mobileNav*******/
    .mobileNav {
        display: block;
        position: fixed;
        z-index: 2;
        top: .1rem;
        right: .1rem;
        width: 1.25rem;
    }

    .mobileNav .navIcon img {
        width: .33rem;
        height: .33rem;
    }

    .mobileNav .navList {
        display: none;
        position: relative;
        width: 1.25rem;
        margin-top: .12rem;
        background: #edebeb;
        border-radius: .04rem;
    }

    .mobileNav .navList span {
        display: inline-block;
        border-radius: .04rem;
        width: 100%;
        line-height: .4rem;
        background: #edebeb;
        border-bottom: 1px solid #e1e1e1;
        text-indent: .25rem;
    }

    .mobileNav .navList span a {
        color: #333;
    }

    .mobileNav .navList span a:hover {
        text-decoration: none;
    }

    .mobileNav .navList.hasLogin .toPwdLogin, .mobileNav .navList.hasLogin .regist {
        display: none;
    }

    .mobileNav .navList.unLogin .userName, .mobileNav .navList.unLogin .changePwd {
        display: none;
    }

    .mobileNav .navList:before {
        content: "";
        position: absolute;
        top: -0.2rem;
        right: .08rem;
        width: 0;
        height: 0;
        border-top: .1rem solid transparent;
        border-left: .1rem solid transparent;
        border-right: .1rem solid transparent;
        border-bottom: .1rem solid #edebeb;
    }

    .goods {
        padding-bottom: 0;
        /******goodsTop******/
    }

    .goods .goodsTop {
        padding: 0;
    }

    .goods .goodsTop .goodsImg {
        border: 0;
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0 auto;
        float: none;
    }

    .goods .goodsTop .goodsImg img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .goods .goodsTop .goodsInfo {
        width: 100%;
        padding: 0 .15rem;
        border-bottom: 1px solid #e8e8e8;
    }

    .goods .goodsTop .goodsInfo .goodsTitle {
        font-size: .16rem;
        height: .35rem;
        line-height: .45rem;
        margin-bottom: .1rem;
        margin-left: 0;
    }

    .goods .goodsTop .goodsInfo .chooseMoney .tit {
    width: 0.8rem;
    line-height: .425rem;
    }

    .goods .goodsTop .goodsInfo .chooseMoney .choose {
        padding: .1rem 0;
        margin-bottom: .08rem;
        position: relative;
    }

    .goods .goodsTop .goodsInfo .chooseMoney .choose .moneys {
        width: .72rem!important;
        height: .325rem;
        line-height: .325rem;
        border-radius: .04rem;
        border: 1px solid #f5f5f5;
        margin-right: .1rem;
        font-size: .13rem;
    }

    .goods .goodsTop .goodsInfo .otherMoney {
        padding-bottom: .05px;
        border-bottom: 1px solid #e1e1e1;
    }

    .goods .goodsTop .goodsInfo .otherMoney .tit {
        border: 0;
    }

    .goods .goodsTop .goodsInfo .otherMoney .other {
        height: .47rem;
        line-height: .27rem;
        padding: .1rem 0;
        margin-bottom: .1rem;
    }

    .goods .goodsTop .goodsInfo .chooseMoney .input {
        width: 1.8rem!important;
        height: .27rem;
        line-height: 1;
        border-radius: .04rem;
        font-size: .14rem;
    }

    .goods .goodsTop .goodsInfo .chooseMoney .inputMoneyTip {
        font-size: .12rem;
        line-height: .16rem;
        height: .16rem;
        position: absolute;
        width: 100%;
        bottom: -.13rem;
        left: 0;
    }

    .goods .goodsTop .goodsInfo .buyNowBtn {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: .5rem;
        line-height: .5rem;
        z-index: 999;
    }

    .goods .goodsDetail {
        padding: 0 .15rem;
        margin-top: .2rem;
        display: none;
    }

    .goods .goodsDetail .tit {
        line-height: .45rem;
        font-size: .14rem;
        margin-bottom: 0;
    }

    .close {
        top: .3rem;
        right: .2rem;
        font-size: .3rem;
    }

    .tips {
        margin-top: -0.18rem !important;
        font-size: .12rem!important;
        /* height: .15rem!important; */
        line-height: .15rem!important;
    }

    /******register******/
    .register {
        width: 3.21rem;
        height: 4.37rem;
        border-radius: .04rem;
        padding: .3rem .3rem .4rem;
    }

    .register .tit {
        height: .6rem;
        line-height: .6rem;
        font-size: .16rem;
    }

    .register .input {
        line-height: .3rem;
        height: .3rem;
        margin-bottom: .18rem;
        font-size: .13rem;
        text-align: .2rem;
    }

    .register .verify input {
        width: 1.8rem;
        line-height: .3rem;
        height: .3rem;
        font-size: .13rem;
        vertical-align: top;
    }

    .register .verify .getCode {
        width: .7rem;
        font-size: .12rem;
        text-align: center;
    }

    .register .nowRegister {
        margin-top: .4rem;
        height: .4rem;
        line-height: .4rem;
        border-radius: .04rem;
    }

    /******registerSuccess******/
    .registerSuccess {
        width: 3.21rem;
        height: 3.27rem;
        border-radius: .04rem;
        padding: .3rem .3rem .4rem;
    }

    .registerSuccess .successImg {
        width: .7rem;
        margin: .6rem auto .2rem;
    }

    .registerSuccess .success {
        font-size: .16rem;
        margin-bottom: .35rem;
    }

    .registerSuccess .toPwdLogin {
        line-height: .4rem;
        border-radius: .04rem;
    }

    /******pwdLogin******/
    .pwdLogin {
        width: 3.21rem;
        height: 3.74rem;
        border-radius: .04rem;
        padding: .3rem .3rem .4rem;
    }

    .pwdLogin .toCodeLogin {
        top: .25rem;
        left: .3rem;
        line-height: .16rem;
    }

    .pwdLogin .tit {
        height: .9rem;
        line-height: 1rem;
        font-size: .16rem;
    }

    .pwdLogin .input {
        margin-bottom: .18rem;
        line-height: 1;
        height: .3rem;
        font-size: .13rem;
        border-radius: .04rem;
        text-indent: .2rem;
    }

    .pwdLogin .pwdLoginBtn {
        line-height: .4rem;
        margin-top: .2rem;
        margin-bottom: .2rem;
        border-radius: .04rem;
    }

    .pwdLogin .forgetOrRegister .forget, .pwdLogin .forgetOrRegister .regist {
        color: #3271ad;
    }

    .pwdLogin .forgetOrRegister .forget {
        float: left;
        margin-left: 0;
    }

    /******codeLogin******/
    .codeLogin {
        width: 3.21rem;
        height: 3.74rem;
        border-radius: .04rem;
        padding: .3rem .3rem .4rem;
    }

    .codeLogin .toPwdLogin {
        top: .25rem;
        left: .3rem;
        line-height: .16rem;
    }

    .codeLogin .tit {
        height: .9rem;
        line-height: 1rem;
        font-size: .16rem;
    }

    .codeLogin .input {
        margin-bottom: .18rem;
        line-height: .3rem;
        height: .3rem;
        font-size: .13rem;
        border-radius: .04rem;
        text-indent: .2rem;
    }

    .codeLogin .verify {
        text-indent: 0;
    }

    .codeLogin .verify input {
        width: 1.8rem;
        line-height: .3rem;
        height: .3rem;
        font-size: .13rem;
        vertical-align: top;
        text-indent: .2rem;
    }

    .codeLogin .verify .getCode {
        width: .7rem;
        font-size: .12rem;
        text-align: center;
    }

    .codeLogin .codeLoginBtn {
        line-height: .4rem;
        margin-top: .38rem;
        margin-bottom: .2rem;
        border-radius: .04rem;
    }

    .codeLogin .forgetOrRegister .regist {
        color: #3271ad;
        margin-left: 0;
        float: left;
    }

    /******getBackPwd******/
    .getBackPwd {
        width: 3.21rem;
        height: 3.5rem;
        border-radius: .04rem;
        padding: .3rem .3rem .4rem;
    }

    .getBackPwd .tit {
        height: .6rem;
        line-height: .6rem;
        font-size: .16rem;
    }

    .getBackPwd .input {
        margin-bottom: .18rem;
        line-height: .3rem;
        height: .3rem;
        font-size: .13rem;
        border-radius: .04rem;
        text-indent: .2rem;
    }

    .getBackPwd .verify {
        text-indent: 0;
    }

    .getBackPwd .verify input {
        width: 1.8rem;
        line-height: .3rem;
        height: .3rem;
        font-size: .13rem;
        vertical-align: top;
        text-indent: .2rem;
    }

    .getBackPwd .verify .getCode {
        width: .7rem;
        font-size: .12rem;
        text-align: center;
    }

    .getBackPwd .getBackSure {
        line-height: .4rem;
        margin-top: .2rem;
        margin-bottom: .2rem;
        border-radius: .04rem;
    }

    /******getBackPwdSuccess******/
    .getBackPwdSuccess {
        width: 3.21rem;
        height: 3.27rem;
        border-radius: .04rem;
        padding: .3rem .3rem .4rem;
    }

    .getBackPwdSuccess .successImg {
        width: .7rem;
        margin: .6rem auto .2rem;
    }

    .getBackPwdSuccess .success {
        font-size: .16rem;
        margin-bottom: .35rem;
    }

    .getBackPwdSuccess .toPwdLogin {
        line-height: .4rem;
        border-radius: .04rem;
    }

    .goods-infos li {
    }
}

/*ÃƒÂ¦Ã¢â‚¬ÂÃ‚Â¹ÃƒÂ§Ã¢â‚¬Â°Ã‹â€ */
.goods .goodsTop .goodsInfo .goodsTitle {
    font-size: 30px;
}

.goods .goodsTop .goodsImg {
    width: 430px;
    height: 430px;
}

.goods .goodsTop .goodsInfo .unit-price {
    color: #f53636;
    font-size: 16px;
    line-height: normal;
    border-bottom: 1px dotted #e6e5e3;
}

.goods .goodsTop .goodsInfo .unit-price>p {
    font-size: 14px;
    color: #474747;
    line-height: 38px;
}

.goods .goodsTop .goodsInfo .unit-price .priceNum {
    font-size: 40px;
    color: #f53636;
}

.goods-info {
}

.goods-info .goods-num {
    margin-top: 12px;
}

.goods-info .goods-num li {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    line-height: 26px;
    color: #474747;
    text-align: left;
    box-sizing: border-box;
}

.goods-info .goods-num li span {
    color: #f53636;
}


.goods-info .goods-num li.border {
    color: #dbdada;
    padding: 0 60px;
}

.goods-info .goods-num li.last {
    display: block;
}
.goods-info .goods-num li.last span{
    color: #474747;
}

.goods .goodsTop .goodsInfo .tit {
    border-bottom: 0;
    width: 80px;
    display: table-cell;
    vertical-align: middle;
}

.goods .goodsTop .goodsInfo .chooseMoney .choose {
    display: table-cell;
    vertical-align: middle;
}

.chooseMoney {
    padding-top: 30px;
}

.goods .goodsTop .goodsInfo .chooseMoney .choose .moneys {
    width: 108px;
}

.choose-other {
    padding-top: 0;
}

.goods .goodsTop .goodsInfo .chooseMoney .input {
    width: 110px;
    border-color: #b9b9b9;
    padding: 0 10px;
    text-indent: 0;
}

.goods .goodsTop .goodsInfo .chooseMoney .input:focus {
    border-color: #f53636;
}

.goods .goodsTop .goodsInfo .chooseMoney .choose {
    padding: 0;
}

.goods-infos {
    background: #fbfaf8;
    height: 65px;
    line-height: 65px;
}

.goods-infos li {
    float: left;
    width: 33.3333%;
    color: #b19e7a;
    font-size: 16px;
    text-align: center;
}

.goods-infos li i {
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/v2/icon-detail.png) no-repeat top center;
    margin-right: 10px;
}

.goods-infos li i.icon-details02 {
    background-image: url(../img/v2/icon-detail02.png);
}

.goods-infos li i.icon-details03 {
    background-image: url(../img/v2/icon-detail03.png);
}

.goods-infos li span {
    display: inline-block;
    vertical-align: middle;
}

.goodsDetail {
    border: 1px solid #f4f4f4;
    margin-top: 30px;
}

.goodsDetail .tit {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
}

.goodsDetail .tit span {
    color: #595959;
    display: inline-block;
    width: 190px;
    text-align: center;
    background: #fff;
    border-top: 3px solid #f53e3e;
    border-right: 1px solid #f4f4f4;
}

.goodsDetail .detail {
    margin: 0 auto;
    text-align: center;
    height: 377px;
    display: block;
}

.goodsDetail .detail .icon-empty {
    width: 98px;
    height: 77px;
    background: url(../img/v2/icon-detail-empty.png) no-repeat top center;
    display: inline-block;
    vertical-align: middle;
    margin-top: 120px;
}

.goodsDetail .detail p {
    font-size: 14px;
    color: #e2e2e2;
}

.goodsDetail .tips {
    color: #acacac;
    font-size: 14px;
    background: #fafafa;
    padding: 30px 0 30px 50px;
}

.goodsDetail .tips h5 {
}

.goodsDetail .tips p {
    font-size: 12px;
    line-height: 26px;
}

@media only screen and (max-width: 768px) {
    .goods .goodsTop .goodsInfo .unit-price {
        font-size: .2rem;
        border-bottom: 0;
    }

    .goods .goodsTop .goodsInfo .unit-price .priceUnit {
        display: none;
    }

    .goods .goodsTop .goodsInfo .unit-price p {
        display: none;
    }

    .goods-info .goods-num li {
        width: 50%;
        float: left;
        text-align: right;
    }

    .goods-info .goods-num li,.goods-info .goods-num li span {
        color: #979797;
    }

    .goods-info .goods-num li.first {
        text-align: left;
    }

    .goods-info .goods-num li.border {
        display: none;
    }

    .goods-info .goods-num li.last {
        color: #2d2c2b;
        width: 100%;
        text-align: left;
        font-size: .13rem;
    }
    .goods-info .goods-num li.last span{
        width: 0.8rem;
        display: inline-block;
        color: #2d2c2b;
    }

    .goods-info .goods-num li.last:before {
        content: '';
        display: inline-block;
        height: .09rem;
        width: 127%;
        background: #f6f6f6;
        margin: 0 -.3rem;
    }

    .goods .goodsTop .goodsInfo .unit-price .priceNum {
        padding-left: 0;
        font-size: .2rem;
    }
    .chooseMoney{
        padding-top: .1rem;
    }
    .choose-other{
        padding-top:0;
        padding-bottom: .35rem;
    }
    .goods .goodsTop .goodsInfo .chooseMoney .inputLabel{
        line-height:.27rem;
        height: .27rem;
    }
    .goods-infos{
        
    }
    .goods-infos li{
        color:#a8a8a8;
        font-size: .12rem;
        position:relative;
    }
    .goods-infos li:nth-child(2):before,.goods-infos li:nth-child(2):after{
        position:absolute;
        background:#eee;
        width:0.01rem;
        height:0.085rem;
        left:0;
        content:'';
        top:50%;
        margin-top:-0.0425rem;
    }
    .goods-infos li:nth-child(2):after{
        left:inherit;
        right:0;
    }
    .goods-infos li i{
        width: 0.105rem;
        height: 0.105rem;
        background-image: url(../img/v2/icon-selected.png)!important;
        background-size: contain;
        margin-right: 0.025rem;
    }
}
