body {
    background: #f7f7f7;
}

.form-table {
    display: table;
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    background: #fff;
    font-size:14px;
}

.form-table:first-child {
    border-top: 1px solid #e2e2e2;
}

.form-table .form-label,.form-table .form-cell {
    display: table-cell;
    vertical-align: middle;
}

.form-table .form-label {
    text-align: right;
    width: 70px;
    padding: 0 17px 0 5px;
    height: 48px;
    line-height:48px;
    font-size: 14px;
}

.form-table .form-cell {
}

.form-table .form-input {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    padding: 0 8px;
    font-size: 14px;
}
.form-table .form-text {
	padding: 0 8px;
	font-size: 14px;
}

.quick {
}


.quick .tips {
    font-size: 12px;
    color: #ff3534;
    line-height: 48px;
    height: 48px;
    padding: 0 15px;
}
@media only screen and (max-width: 768px){

	.firmOrder{
		min-height:70%;
	}
}

@media only screen and (min-width: 768px) {
	.quick .firmOrder{
		margin-top:0;
	}
	.firmOrder .submitOrder{
		text-align:center;
	}
}

.modal-sendcode{
	
}
.modal-sendcode .status{
	color:#c3c3c3;
}
.modal-sendcode .mobile{
	color:#e4393c;
	font-size: .195rem;
}
.modal-sendcode .option{
	position:relative;
	margin-top: .2rem;
}
.modal-sendcode .option input{
	border:1px solid #c7c7c7;
	height:.32rem;
	line-height: 1;
	box-sizing:border-box;
	width:100%;
	padding: 0 .1rem;
	font-size:.14rem;
}
.modal-sendcode .option .btn-checkcode{
	background:#f5c57a;
	color:#fff;
	position:absolute;
	height: 100%;
	right: 0;
	padding: 0 .15rem;
	line-height: .32rem;
}
.modal-sendcode .option .btn-checkcode:active{
	background:rgba(245, 197, 122, 0.8);
}
.modal-sendcode .option .btn-checkcode:hover{
	text-de;
	text-decoration: none;
}
.modal-sendcode .option .btn-checkcode.disabled{
	background:#ccc;
}