{include file="header.html"}
	<div class="main-content">
		<div class="breadcrumbs">
			管理员修改密码
		</div>
		<div class="page-content">
			<div class="linkmodify">
				<form action="admin_password.php?op=save" method="post">
				<div class="linkbox">
					<input type="hidden" name="id" value="{$id}" />
					<div>
						<span class="tit">原始密码：</span>
						<input type="password" name="oldPassword" placeholder="输入内容" required="required" />
					</div>
					<div>
						<span class="tit">新密码：</span>
						<input type="password" name="newPassword" placeholder="输入内容" required="required" />
					</div>
					<div>
						<span class="tit">新密码确认：</span>
						<input type="password" name="verifyPassword" placeholder="输入内容" required="required" />
					</div>
					<div>
						<button type="submit" class="btn" id="submit" style="margin-left: 30%">提交</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>