{include file="header.html"}
	<link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"/>
	<script src="js/jquery.datetimepicker.js"></script>
	<script src="js/datetimepicker.js"></script>
	<script>
		var editor;
		KindEditor.ready(function(K) {
			K.create('textarea[name="content"]', {
				urlType:'domain',
				allowFileManager : true
			});
		});
	</script>
	<div class="main-content">
		<div class="breadcrumbs">
			商品添加
		</div>
		<div class="page-content">
			<div class="linkmodify">
				<form action="goods.php?op=save&t=add" method="post" enctype="multipart/form-data">
				<div class="linkbox">
					<div>
						<span class="tit">商品名称：</span>
						<input type="text" name="title" placeholder="输入内容" required="required" />
					</div>
					<div style="align-items: flex-start;">
						<span class="tit">商品售价类型：</span>
						<div class="select_check">
							<div>
								{section name=show loop=$result}
								<label><input type="checkbox" name="tid[]" value="{$result[show].price}" />&nbsp;{$result[show].type}&nbsp;&nbsp;&nbsp;&nbsp;</label>								
								{/section}
							</div>
						</div>
					</div>
					<div>
						<span class="tit">封面图：</span>
						<input type="file" name="images" class="upload1" placeholder="输入内容" id="img" onchange="preImg(this.id)"/>
						<input type="text" style="width: 42.5%;" placeholder="输入内容" />
						<button class="yellow-btn">添加</button>
						<span style="color:red;"> (上传图片尺寸必须为 420 * 420 px!) </span>
					</div>
					<div>
						<span class="tit">商品内容：</span>
						<textarea name="content" cols="30" rows="4" placeholder="输入内容"></textarea>
					</div>
					<div>
						<span class="tit">状态：</span>
						<div class="checkBox" style="margin: 0;line-height:40px;">
							<div style="padding-left: 10px;width: inherit;left: 0;">
								<label><input type="radio" name="status" value="0" checked>&nbsp;正常</label>
								<label><input type="radio" name="status" value="1">&nbsp;停用</label>
							</div>
						</div>
					</div>
					<div>
						<button type="submit" class="btn" id="submit" style="margin-left: 30%">提交</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>