{include file="header.html"}
	<link rel="stylesheet" href="css/jquery.dataTables.css">
	<script src="js/jquery.dataTables.min.js"></script>
	<div class="main-content">
		<div class="breadcrumbs">
			商品列表
		</div>
		<div class="page-content">
			<div class="retrieval">
				<button class="btn new-btn" onclick="window.location.href='goods.php?op=add';">商品添加</button>
				<div class="tablebox">
					<table class="display" cellpadding="0" cellspacing="0" border="0" id="news">
						<thead>
							<tr>
								<th>ID</th>
								<th>商品名称</th>
								<th>售价</th>
								<th>封面图</th>
								<th>操作员</th>
								<th>修改时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							{section name=show loop=$result}
							<tr>
								<td>{$result[show].id}</td>
								<td>{$result[show].title}</td>
								<td>{$result[show].sell_type}</td>
								<td>{$result[show].images_show}</td>
								<td>{$result[show].realname}</td>
								<td>{$result[show].mtime_show}</td>
								<td>{$result[show].status_show}</td>
								<td>
									<div>
										<a href="goods.php?id={$result[show].id}&op=update">
											<i class="icon-pen" title="修改"></i>
										</a>
										<!--<a href="goods.php?id={$result[show].id}&op=del" onclick="return confirm('您确定要删除该商品吗？');">
											<i class="icon-delete" title="删除"></i>
										</a>-->
									</div>
								</td>
							</tr>
							{/section}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>