{include file="header.html"}
	<link rel="stylesheet" href="css/jquery.dataTables.css">
	<script src="js/jquery.dataTables.min.js"></script>
	<div class="main-content">
		<div class="breadcrumbs">
			用户列表
		</div>
		<div class="page-content">
			<div class="retrieval">
				<div class="tablebox">
					<table class="display" cellpadding="0" cellspacing="0" border="0" id="news">
						<thead>
							<tr>
								<th>ID</th>
								<th>手机号</th>
								<th>姓名</th>
								<th>性别</th>
								<th>身份证号</th>
								<th>注册时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							{section name=show loop=$result}
							<tr>
								<td>{$result[show].id}</td>
								<td>{$result[show].mobile}</td>
								<td>{$result[show].realname}</td>
								<td>{$result[show].gender}</td>
								<td>{$result[show].people_id}</td>
								<td>{$result[show].addtime_show}</td>
								<td><a href="user.php?id={$result[show].id}&op=save&t=status" onclick="return confirm('您确定要改变该用户状态吗？');">{$result[show].status_show}</a></td>
								<td>
									<div>
										<a href="user.php?id={$result[show].id}&op=update">
											<i class="icon-pen" title="修改"></i>
										</a>
										<a href="user.php?id={$result[show].id}&op=save&t=reset" onclick="return confirm('您确定要重置该用户的密码吗？');">
											<i class="icon-password" title="密码重置"></i>
										</a>
									</div>
								</td>
							</tr>
							{/section}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>