<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{$server_name.name}</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/headFoot.css">
	<link rel="stylesheet" href="css/firmOrder.css">
</head>
<body>	
{include file="header.html"}
	<div class="mobile-header">
		<span class="goback"></span>
		确认订单信息
		<span class="gohome"></span>
	</div>
	<div class="firmOrder">
		<div class="wrap">
			<form action="goods_order.php?op=order_confirm" method="post" id="orderConfirm">
			<input type="hidden" name="id" value="{$goods_info.id}" />
			<input type="hidden" name="goods" value="{$goods_info.title}" />
			<input type="hidden" name="images" value="{$goods_info.images}" />
			<input type="hidden" name="price" value="{$price_show}" />
			<input type="hidden" name="total" value="{$total}" />
			<input type="hidden" name="usd_rate" value="{$usd_rate}" />
			<div class="tit">确认订单信息</div>
			<div class="orderInfo">
				<ul class="goodsTable">
					<li class="head">
						<span class="goodsImg"></span>
						<span class="goodsName">商品</span> 
						<span class="goodsUnitPrice">单价</span> 
						<span class="goodsNum">数量</span> 
						<span class="goodsAllPrice">合计金额（人民币）</span>
						<span class="goodsAllPrice">折算金额（美元）</span>
					</li>
					<li class="body">
						<span class="goodsImg">
							<img src="{$goods_info.images_show}" alt="{$goods_info.title}" title="{$goods_info.title}">
						</span>
						<span class="goodsName">{$goods_info.title}</span>
						<span class="goodsUnitPrice">￥1.00</span>
						<span class="goodsNum">{$count} 个</span>
						<span class="goodsAllPrice">￥ {$total_show}</span>
						<span class="goodsAllPrice">$ {$price_show}</span>
					</li>
				</ul>
				<div class="payWayList cl">
                    {section name=show loop=$paytype}
                    	<div class="payWay1 payWay cl" wayname="{$paytype[show].id}">
							<div class="fl way">
								{$paytype[show].name}
							</div>
							<div class="fr price">
								实付款：<span class="num">￥ {$total_show}</span>
							</div>
						</div>
                    {/section}
					<div class="submitOrder">
						<div class="submitBtn">提交订单</div>
					</div>
				</div>
				<div class="tradeTips">
					温馨提醒<br/>
					1.该商品为充值兑换码，完成付款后会把兑换码通过短信发送到买家的注册手机，任何人无法修改订单及金额信息；<br/>
					2.您购买的是兑换码充值类商品，如果不清楚该商品用途，请务必和客服沟通确认。
				</div>
			</div>
			<input type="hidden" id="selectedWay" name="channel" value="" />							
			</form>
		</div>
	</div>
 {include 
 file="footer.html"
 }
</body>
<script src="js/jquery.min.js"></script>
<script src="js/public.js"></script>
<script>
	/*$(document).ready(function(){
      var defaultWay = $($('.payWayList').children('.payWay')[0]);
      defaultWay.addClass('active');
      $("#selectedWay").val(defaultWay.attr('wayname'));

		$(".submitBtn").click( function () {
			$("#orderConfirm").submit();
		});

		var payWay = $(".payWayList .payWay");
		payWay.click(function(){
			payWay.removeClass("active");
			$(this).addClass("active");
			$("#selectedWay").val($(this).attr("wayname"));
		})
	});*/
	$(document).ready(function(){
		var $way = $("#selectedWay");
		var form =$("#orderConfirm");
		var $goods = {
			data:{
				loop: 0,
				loop_time: 5000,
				order_id:0,
				no:0
			},
			init:function(){
				this.bindEvent();
			},
			bindEvent:function(){
				var self = this;
				// 选择支付方式
				var payWay = $(".payWayList .payWay");
				payWay.on('click',function(){
					payWay.removeClass("active");
					$(this).addClass("active");
					$("#selectedWay").val($(this).attr("wayname"));
				}).eq(0).trigger('click');
				
				// 购买咨询
				$(".submitBtn").on('click', function () {
					// 微信支付宝显示二维码
					if($way.val() == '微信' || $way.val() == '支付宝'){
						self.getScanPay();
						return;
					}
					$("#orderConfirm").submit();
				});
			},
			getFormData:function(){
				// 获取订单数据
				var sendData = {};
				$.each(form.serializeArray(),function(i,d){
					sendData[d.name] = $.trim(d.value);
				});
				return sendData;
			},
			pay_qrcode:function(url){
				//显示二维码支付
				var self = this;
				var modal = $.modal({
					text: '<img src="'+url+'" width="180" height="180" style="margin-top:28px;border: 1px solid #d1d1d1;"><p style="padding-top: 20px;color:#848484;">请使用'+$way.val()+'扫描二维码支付</p>',
					close: 1,
				});
				var closeModal = function (modal) {
					self.data.loop = 0;  //关闭循环
					$.closeModal(modal);
				}
				//关闭按钮回调
				$(modal).find(".modal-close a").on('click', function () {
					closeModal();
				});
				//成功付款后关闭弹窗
				self.getScanPayStatus(function () {
					closeModal();
                    $.alert('订单提交成功',function(){
                        window.location.href = '/shopp/ucenter.php';
                    });
				});
			},
			getScanPay:function(){
				//二维码支付订单提交
				var self = this;
				$.ajaxF({
					url:'./goods_order.php?op=order_confirm',
					data:self.getFormData(),
					success:function(data){
						self.data.order_id = data.data.id;
						self.data.loop = 1;
						self.data.no = data.data.order_id;
						$.ajaxF({
							url:'./goods_order.php?op=order_pay',
							data:{
								id:self.data.order_id,
							},
							success:function(data){
								self.pay_qrcode(data.data);
							}
						});
					}
				});
			},
			getScanPayStatus:function(cb){
				//获取支付二维码状态
				var self = this;
				var run = function () {
				    if (!self.data.loop) return;
					$.ajaxF({
							beforeSend:function(){
							  return true;
							},
							complete:function () {
								return true;
                            },
							url:'./goods_order.php?op=is_pay',
							data:{
                                order_id:self.data.no
							},
							success:function(data){
								cb && cb();
							},
							fail:function(data){
								setTimeout(run, self.data.loop_time);
							}
						});
				}
				setTimeout(run, self.data.loop_time);
			}
		}
		$goods.init();
	});
</script>
</html>