<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{$server_name.name}</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/headFoot.css">
	<link rel="stylesheet" href="css/myCashier.css">
</head>
<body>
{include file="header.html"}
	<div class="mobile-header">
		<span class="goback"></span>
		我的收银台
		<span class="gohome"></span>
	</div>
	<div class="firmOrder">
		<div class="wrap">
			<form id="orderPay" method="post" action="http://39.108.82.202:8088/quick-pay-api/v1.0/order/unionPayGateway" enctype="application/json">
				<div class="tit">我的收银台</div>
				<input type="hidden" name="orgId" id="orgId" value="{$mits_config.orgId}">
				<input type="hidden" name="orgOrderNo" id="orgOrderNo" value="{$mits_config.orgOrderNo}">
				<input type="hidden" name="account" id="account" value="{$mits_config.account}">
				<input type="hidden" name="source" id="source" value="{$mits_config.source}">
				<input type="hidden" name="amount" id="amount" value="{$mits_config.amount}">
				<input type="hidden" name="currency" id="currency" value="{$mits_config.currency}">
				<input type="hidden" name="notifyUrl" id="notifyUrl" value="{$mits_config.notifyUrl}">
				<input type="hidden" name="subject" id="subject" value="{$mits_config.subject}">
				<input type="hidden" name="clientIp" id="clientIp" value="{$mits_config.clientIp}">
				<input type="hidden" name="callbackUrl" id="callbackUrl" value="{$mits_config.callbackUrl}">
				<input type="hidden" name="orderDate" id="orderDate" value="{$mits_config.orderDate}">
				<input type="hidden" name="signature" id="signature" value="{$mits_config.signature}">
				<div class="orderInfo">
					<div class="orderNum">订 单 号 ：<span>{$mits_config.orgOrderNo}</span></div>
					<div class="orderName">商品名称：<span>{$mits_config.subject}</span></div>
					<div class="orderName">下单时间：<span>{$time}</span></div>
					<div class="orderPrice">交易金额：<span>${$order_info.price} (RMB:{$order_info.total})</span></div>
				</div>
				<div class="payWayList cl" style="height: 133px;">
					<div class="nowBuyBtn fr">
						确认支付
					</div>
				</div>
			</form>
		</div>
	</div>
 {include file="footer.html"}
</body>
<script src="js/jquery.min.js"></script>
<script src="js/public.js"></script>
<script>
	//(function($,win){
		//var payWay = $(".payWayList .payWay");
		//payWay.click(function(){
			//payWay.removeClass("active");
			//$(this).addClass("active");
		//})
	//})(jQuery,window);

	$(document).ready(function(){
		$(".nowBuyBtn").click( function () {
			$("#orderPay").submit();
			/*var sendData ={};
			$.each($("#orderPay").serializeArray(),function(i,d){
			   sendData[d.name] = d.value;
			}); 
			$.ajax({
			    method: "POST",
			    url: "http://39.108.82.202:8088/quick-pay-api/v1.0/order/unionPayGateway",
			    contentType: 'application/json',
			    data:JSON.stringify(sendData),
			    success: function( data ) {
			 		console.log(data);
			    }
			});*/

		});
	});
</script>
</html>