{include file="header.html"}
	<div class="main-content">
		<div class="breadcrumbs">
			管理员用户组修改
		</div>
		<div class="page-content">
			<div class="linkmodify">
				<form action="admin_group.php?op=save&t=update" method="post">
				<div class="linkbox">
					<input type="hidden" name="id" value="{$groupInfo.id}" />
					<div>
						<span class="tit">用户组名称：</span>
						<input type="text" name="group" placeholder="输入内容" value="{$groupInfo.group}" required="required" />
					</div>
					<div style="align-items: flex-start;">
						<span class="tit">权限管理：</span>
						<div class="select_check">
							{section name=show loop=$result}
								<div class="checkBox">
								<span>{$result[show].title}</span>
								<div>
									{section name=shows loop=$result[show].son}
									<label><input type="checkbox" name="action[]" value="{$result[show].son[shows].id}" {$result[show].son[shows].checked} />&nbsp;{$result[show].son[shows].title}</label>
									{/section}
								</div>
							</div>
							{/section}
						</div>
					</div>
					<div>
						<button type="submit" class="btn" id="submit" style="margin-left: 30%">提交</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>