{include file="header.html"}
	<div class="main-content">
		<div class="breadcrumbs">
			用户验证码更新
		</div>
		<div class="page-content">
			<div class="linkmodify">
				<form action="order_status_change.php?op=change" method="post">
				<div class="linkbox">
					<div>
						<span class="tit">订单号：</span>
						<input type="text" name="order_id" placeholder="输入内容" required="required" />
					</div>
					<div>
						<button type="submit" class="btn" id="submit" style="margin-left: 30%">更新</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>