<div class="header">

    <div class="wrap">

        <a href="goods.php" class="fl logo">

        	<img src="img/{$server_name.img}/logo.png" title="" alt=""/>

        </a>

        <span class="fr user">

			{if !$smarty.session.members.info.id}

            <span>亲，欢迎光临</span>

			<a href="javascript:;" class="toPwdLogin">请登录</a>

            <a href="javascript:;" class="regist">免费注册</a>

			{else}

			<span class="userName">{$smarty.session.members.info.realname}</span>

            <a href="ucenter.php" class="myOrder">我的订单</a>

			<!--<a href="javascript:;" class="changePwd">修改密码</a>-->

			<a href="ucenter.php?op=logout" class="changePwd">退出</a>

			{/if}

        </span>

    </div>

</div>

